name: clone as subtree

on:
  workflow_dispatch:
    inputs:
          logLevel:
            description: 'Log level'     
            required: true
            default: 'warning'
          tags:
            description: 'build scenario tag'  
            
permissions: write-all

jobs:
  clone-submodules:
    runs-on: ubuntu-latest
   
    steps:
      - uses: actions/checkout@v2
        with:
          ref: main
          fetch-depth: 0
      - run: |
          git config user.name ${{ github.actor }}
          git subtree pull --prefix limiter https://github.com/liranpi2/limiter.git master --squash
          git merge -s subtree --allow-unrelated-histories
          git push
        continue-on-error: true 
        
      - name: update subtree windows_hardening
        run: |
          git subtree pull --prefix windows_hardening https://github.com/0x6d69636b/windows_hardening.git master --squash
          git merge -s subtree --allow-unrelated-histories
          git push
        continue-on-error: true 
